In [1]:

import numpy as np
import pandas as pd

In [2]:
price_label = pd.read_csv('../archive/data/price_label.csv')

In [3]:
price_label.shape

(2337, 11)

In [4]:
price_label.head()

,Unnamed: 0,date,Open,High,Low,Close_x,Volume,label_up5,label_up2,label_down5,label_down2
0,0,2015-01-01,318.24,321.36,313.54,314.89,4073067.10,False,False,False,False
1,1,2015-01-02,314.89,316.40,313.08,315.21,4673971.80,False,False,False,False
2,2,2015-01-03,315.21,315.83,284.89,287.13,14209564.70,False,False,True,True
3,3,2015-01-04,287.13,289.94,255.87,264.72,24255392.10,False,False,True,True
4,4,2015-01-05,264.72,278.32,262.89,274.84,14995382.75,True,True,False,False

: